.header {
    position: fixed;
    display: flex;
    align-items: center;
    height: 92px;
    background: #043873;
    top: 0;
    left: 0;
    width: 100%;

    @media (max-width:768px) {
        height: 66px;
    }

    @media (max-width:320px) {
        height: 56px;
    }
    
    &__container {
        display: flex;
        justify-content: center;
    }
    
    &__logo {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 700;
        font-size: 28px;
        color: #fff;
        text-decoration: none;

        @media (max-width: 320px) {
            gap: 7px;
            font-size: 19px;

            svg {
                width: 26px;
                height: 21px;
            }
        }
    }

    &__menu {
        display: flex;
        gap: 32px;
        margin-left: auto;

        @media (max-width: 1152px) {
            display: none;
        }
    }
    
    &__link {
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
        line-height: 128%;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    &__login-button {
        margin-left: 75px;
        width: 126px;
        height: 60px;
        background: #ffe492;
        border: 1px solid #ffe492;
        color: #043873;
        font-weight: 500;
        border-radius: 8px;
        font-size: 18px;
        line-height: 128%;

        @media (max-width: 1152px) {
            margin-left: auto;
        }
        
        @media (max-width: 768px) {
            display: none;
        }
    }

    &__try-button {
        margin-left: 24px;
        border-radius: 8px;
        width: 227px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-weight: 500;
        font-size: 18px;
        line-height: 128%;
        color: #fff;
        background: #4f9cf9;
        border: 0px;

        @media (max-width: 768px) {
            display: none;
        }
    }

    &__burger-btn {
        display: none;

        @media (max-width: 1152px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 12px;
            background: transparent;
            border: none;
            margin-left: 20px;
        }

        @media (max-width: 768px) {
            margin-left: auto;
        }
    }

    &__burger-span {
        display: block;
        width: 42px;
        height: 2px;
        background-color: #fff;
    }
}