.hero {
    padding-top: 232px;
    padding-bottom: 140px;
    background: #043873;
    overflow: hidden;

    @media (max-width: 1400px) {
        padding-top: 193px;
        padding-bottom: 100px;
    }
    
    &__container {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        >svg {
            position: absolute;
            left: -200px;
            top: 48px;

            @media (max-width: 1400px) {
                width: 1400px;
                height: 433px;
                left: -39px;
                top: 47px;
            }

            @media (max-width: 1152px) {
                width: 1152px;
                height: 423px;
                left: -8px;
                top: -5px;
            }
        }

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }
    }
    
    &__content {
        padding: 94px 0;
        max-width: 656px;
        position: relative;
        z-index: 1;

        @media (max-width: 1400px) {
            padding: 48px 0;
        }

        @media (max-width: 1152px) {
            padding: 0;
        }
        
        @media (max-width: 768px) {
            text-align: center;
            max-width: 728px;
            padding-bottom: 100px;
        }
    }
    
    &__title {
        font-weight: 700;
        font-size: 64px;
        letter-spacing: -0.02em;
        color: #fff;
        margin: 0;

        @media (max-width: 768px) {
            font-size: 54px;
        }
        
        @media (max-width: 320px) {
            font-size: 32px;
        }
    }

    &__title-break {
            display: none;

            @media (max-width:1152px) {
                display: inline;
            }

            @media (max-width:768px) {
                display: none;
            }
        }

    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 167%;
        letter-spacing: -0.02em;
        color: #fff;
        margin: 0;
        margin-top: 24px;
    }

    &__text-break {
        display: none;

        @media (max-width:1152px) {
            display: inline;
            }

        @media (max-width:768px) {
            display: none;
        }
    }

    &__button {
        margin-top: 60px;
        border-radius: 8px;
        padding: 20px;
        font-weight: 500;
        font-size: 18px;
        line-height: 128%;
        letter-spacing: -0.02em;
        color: #fff;
        background: #4f9cf9;
        border: 1px solid #4f9cf9;
    }

    &__image-container {
        width: 100%;
        max-width: 824px;
        height: 549px;
        background: #A7CEFC;
        position: relative;
        z-index: 1;

        @media (max-width: 1400px) {
            max-width: 685px;
            max-height: 456px;
        }

        @media (max-width:1152px) {
            max-width: 526px;
            max-height: 350px
        }

        @media (max-width: 768px) {
            max-width: 551px;
            max-height: 367px;
        }

        @media (max-width: 320px) {
            max-width: 286px;
            max-height: 191px;
        }
    }
}