.hero {
    padding: 140px 0;
    background: #043873;
    background-image: url("/images/hero/Element.svg");
    background-repeat: no-repeat;
    background-position: center;
    
    &__flex {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 100px;
        }
    }
    
    &__content {
        width: 44%;

       @media (max-width: 1440px) {
            width: 48%;
        } 

        @media (max-width: 1152px) {
            width: 52%;
        }
        
        @media (max-width: 768px) {
            text-align: center;
            width: 100%;
        }

        @media (max-width: 320px) {
            max-width: 280px;
        }
    }
    
    &__title {
        font-weight: 700;
        font-size: 64px;
        letter-spacing: -0.02em;
        color: #fff;
        margin: 0;

        @media (max-width: 768px) {
            font-size: 54px;
        }
        
        @media (max-width: 320px) {
            font-size: 32px;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 167%;
        letter-spacing: -0.02em;
        color: #fff;
        margin-bottom: 0;
        margin-top: 24px;

    }

    &__button {
        width: 219px;
        height: 63px;
        margin-top: 60px;
        border-radius: 8px;
        font-weight: 500;
        font-size: 18px;
        line-height: 128%;
        letter-spacing: -0.02em;
        color: #fff;
        background: #4f9cf9;
        border: 1px solid #4f9cf9;

        @media (max-width: 768px) {
            width: 232px;
            height: 70px;
        }
    }

    &__image-square {
        width: 56%;
        height: 549px;
        background: #A7CEFC;

        @media (max-width: 1440px) {
            width: 52%;
            height: 456px;
        }

        @media (max-width: 1152px) {
            width: 48%;
            height: 350px;
        }

        @media (max-width: 768px) {
            width: 76%;
            height: 367px;
        }

        @media (max-width: 320px) {
            width: 286px;
            height: 191px;
        }
    }
}